@import "gisMarkers";
html, body, span, h1, h2, h3, h4, h5, h6, p, strong,  b, i, dl, dt, dd, ol, ul, form,
label, legend, table, tbody, tfoot, thead, tr, th, td,  canvas, footer, header, audio, video {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'microsoft Yahei';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6, em, i, address, caption, em, strong, th, i  {
  font-weight:400;
  font-style: normal
}

ul, ol, li {
  list-style-type: none
}

a {
  color: #666;
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
